<div class="relative">
  <button [class.hidden]="showVolumeMenu" (click)="toggleMenu()" (contextmenu)="onMuteToggle(); false"
    (wheel)="adjustVolumeByScroll($event)"
    class="absolute rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15">
    <app-icon class="cursor-pointer hover:fill-slate-200" [icon]="volumeIcon()"></app-icon>
  </button>

  <div [class.hidden]="!showVolumeMenu" class="absolute z-20 px-2 py-1 bg-slate-600 rounded-md">
    <input #volume (change)="onVolumeSet()" (input)="onVolumeChange($event)" (wheel)="adjustVolumeByScroll($event)"
      type="range" name="volume" min="0" max="1"
      step="0.01" class="cursor-pointer accent-emerald-500 hover:accent-emerald-400 active:accent-emerald-300">
  </div>
</div>
