<div class="flex flex-wrap gap-8 justify-center sm:justify-around">
    <div class="flex justify-center self-center">
        <div class="flex flex-col">
            <div class="flex gap-x-4">
                <div class="bg-slate-300 rounded-lg backdrop-blur-sm w-80 h-80 p-2 flex items-end flex-wrap bg-cover drop-shadow-glow" style="background-image: url('{{bg}}');">
                </div>
                <div class="flex flex-col justify-around text-xl text-white items-center">
                    <fa-icon class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="repeat"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="consume"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="info"></fa-icon>
                </div>
            </div>
            <div class="text-center mt-1 text-white">
                <h2 class="text-xl font-semibold">Some Title</h2>
                <p class="italic">Some song artist</p>
                <hr class="my-2">
                <div class="flex justify-around text-xl gap-x-4">
                    <fa-icon class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="back"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="play"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="forward"></fa-icon>
                </div>
                <img src="{{waveform}}" alt="waveform" class="w-full h-20">
            </div>
        </div>
    </div>
    <div class="lg:basis-1/2">
        <div class="text-center text-white">
            <h2 class="font-semibold text-xl">Some Playlist / My Tracks</h2>
            <p class="text-lg">Some other textual information that is important.</p>
        </div>
        <div class="bg-slate-700 rounded-md mt-4 p-4 flex flex-col gap-y-4 ">
                  
        @for (track of tracks; track track.id; let idx = $index) {
            @if (idx < 6) {
                <app-track [track]="track"></app-track>
            }
        }
        </div>
    </div>
</div>

<div class="bg-slate-700 rounded-md mt-8 p-4 flex flex-col gap-y-4 ">
    <div class="text-center text-white">
        <h2 class="font-semibold text-xl">Queued Tracks</h2>
    </div>
    @for (track of tracks; track track.id; let idx = $index) {
        @if (idx >= 6) {
            <app-track [track]="track"></app-track>
        }
    }
</div>