<div class="text-white">
    @if (loaded) {
        <div class="flex flex-wrap justify-center gap-x-12">
            <div>
                <div class="bg-slate-300 rounded-lg backdrop-blur-sm w-40 h-40 p-2 bg-cover drop-shadow-glow cursor-pointer border border-white border-solid " style="background-image: url('{{bg}}');">
                </div>
            </div>
            <div>
                <app-header class="font-bold text-6xl" [text]="album.name"></app-header>
                <p class="text-slate-300 italic font-light mt-1">{{album.artist?.name ?? "Unknown Artist"}}</p>
                <div class="flex flex-wrap gap-2 justify-between items-center mt-6">
                    <button (click)="addAll()" class="bg-green-500 hover:bg-green-400 p-2 text-white font-semibold rounded-lg">Play All</button>
                    <a class="text-cyan-400 hover:text-cyan-500 cursor-pointer">View in MusicBrainz</a>
                    <p>2024</p>
                    <p>{{totalDuration % 60}} Minutes</p>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex justify-between mx-2">
                <p class="self-center max-sm:hidden">{{album.tracks.length}} Tracks</p>
                <div class="flex items-center gap-x-1">
                    <label for="filter">
                        <fa-icon aria-hidden="true" class="md:hidden cursor-pointer hover:text-emerald-300" pull="left" [icon]="filter"></fa-icon>
                        <span class="max-md:hidden">Filter: </span>
                    </label>
                    <select id="filter" class="bg-transparent border-none cursor-pointer mr-2">
                        <option value="1" selected>Track Number (default)</option>
                        <option value="2">Alphabetical</option>
                        <option value="3">Random</option>
                    </select>
                    <label for="search"><fa-icon aria-label="Search" class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="search"></fa-icon></label>
                    <input (input)="filterTracks($event)" class="bg-transparent border border-emerald-300 rounded-md py-1 px-2 shrink" type="text" id="search" placeholder="Never gonna give you up...">
                </div>
            </div>
            <div class="grid 2xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-x-5 gap-y-8 border-t border-gray-600 mt-2 pt-4 px-1 rounded-t-lg">
                @for(track of filteredTracks; track track.id) {
                    <app-album-track [track]="track" (addTrack)="addTrack($event)"></app-album-track>
                }
            </div>
        </div>
    }
</div>
