<div class="h-full text-white">
  @if (mode() == TrackMatrixMode.View) {
  <button (click)="onClick.emit()"
    class="flex gap-x-2 items-center rounded-md px-4 py-2 hover:bg-slate-700 w-full h-full border-x border-emerald-300">
    @if (track.trackNumber != null) {
    <p class="font-extralight">{{track.trackNumber}}</p>
    }

    <p class="text-lg font-semibold">{{track.title}}</p>
    <p class="font-light text-slate-300 ml-auto">{{track.artist()?.name ?? "Unknown Artist"}}</p>
    <p>{{track.durationFormatted}}</p>
  </button>
  } @else if (mode() == TrackMatrixMode.Select) {
  <button (click)="toggleSelected()"
    class="flex gap-x-2 items-center rounded-md px-4 py-4 w-full h-full border border-dashed border-emerald-300"
    [ngClass]="{
      'bg-emerald-600 bg-opacity-45 hover:bg-emerald-700 hover:bg-opacity-45': selected(),
      'hover:bg-slate-700': !selected()
    }">
    <p class="text-lg font-semibold">{{track.title}}</p>
    <p class="font-light text-slate-300 ml-auto">{{track.artist()?.name ?? "Unknown Artist"}}</p>
  </button>
  }
</div>
