@if (type == 1) {
 <h1 class="text-white text-3xl font-bold mb-4">{{text}}</h1>
} @else if (type == 2) {
    <h2 class="text-white text-2xl font-semibold mb-3">{{text}}</h2>
} @else if (type == 3) {
    <h3 class="text-white text-xl font-medium mb-2">{{text}}</h3>
} @else if (type == 4) {
    <h4 class="text-white text-lg font-normal mb-1">{{text}}</h4>
} @else if (type == 5) {
    <h5 class="text-white text-base font-normal mb-1">{{text}}</h5>
} @else if (type == 6) {
    <h6 class="text-white text-base font-light">{{text}}</h6>
}
