<div class="flex justify-between bg-slate-600 hover:bg-slate-500 hover:cursor-pointer p-4 rounded-sm">
    <div>
        <h3 class="text-lg text-slate-50">{{ track.title }}</h3>
        <p>Some album name that is longer than song name</p>
    </div>
    <div class="flex gap-2">
        <div class="text-green-400 font-semibold text-lg">
            <fa-icon class="cursor-pointer text-white hover:text-yellow-300" pull="left" [icon]="star"></fa-icon>
        </div>
        <div class="text-slate-100 font-semibold text-lg cursor-pointer">
            <fa-icon class="cursor-pointer text-white hover:text-emerald-300" pull="left" [icon]="dots"></fa-icon>
        </div>
    </div>
</div>