<div>
  <app-header [type]="2" text="Login"></app-header>

  <div>
    <p class="text-white">Welcome to the Osse music server!</p>
    <p class="text-white">To begin, enter the server URL. This should include the host and port. The default URL has been filled in for you.</p>

    <form #form="ngForm" (ngSubmit)="saveURL()">
      <label for="name" class="text-white font-semibold">URL: </label>
      <input [(ngModel)]="url" required minlength="1" id="name" name="name"
        class="text-emerald-300 m-2 p-2 rounded-md bg-opacity-15 focus:bg-opacity-30 bg-white"
        placeholder="http://localhost:8000">
      <br>

      <app-button type="submit" text="Connect" [disabled]="!form.form.valid || false"></app-button>
    </form>

    @if (serverFound()) {
      <p class="text-white mt-4">Server found! Please login.</p>

      <form #loginForm="ngForm" (ngSubmit)="login()">
        <label for="username" class="text-white font-semibold">Username</label>
        <input id="username" [(ngModel)]="username" required minlength="1" name="username"
          class="text-emerald-300 m-2 p-2 rounded-md bg-opacity-15 focus:bg-opacity-30 bg-white"
          placeholder="osse" />

        <label for="password" class="text-white font-semibold">Password</label>
        <input id="password" type="password" [(ngModel)]="password" required minlength="1" name="password"
          class="text-emerald-300 m-2 p-2 rounded-md bg-opacity-15 focus:bg-opacity-30 bg-white"
          placeholder="cassidor" />
        <br>

        <app-button type="submit" text="Login" [disabled]="!loginForm.form.valid"></app-button>
      </form>
    }
  </div>
</div>
