@keyframes progress {
    from {width: 0%;}
    to {width: 100%;}
}

#future {
    animation-name: progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#rendered {
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg,
        rgba(2,0,36,0) 0%,
        rgb(2,0,36,0) 34%,
        rgb(110, 231, 183) 35%,
        rgb(156, 163, 175) 100%);
    }