<div class="flex gap-x-8 items-center">
  <button (click)="onPanReset()" class="rounded-full px-2 py-1 hover:bg-emerald-300/15" aria-label="Reset pan to 0">
    <app-icon class="cursor-pointer hover:fill-slate-200" [icon]="reset"></app-icon>
  </button>

  <div class="flex items-center gap-x-2">
    <p aria-label="-1 is left channel">L</p>
    <input #pan (change)="onPanChange($event)" (input)="onPanChange($event)" (wheel)="adjustPanByScroll($event)"
      type="range" name="volume" min="-1" max="1" step="0.01" class="range range-secondary">
    <p aria-label="1 is right channel">R</p>
  </div>
</div>
