<div class="z-10 w-full sm:w-32 fixed top-0 sm:bottom-0 left-0 right-0 sm:right-auto flex flex-row sm:flex-col justify-center bg-slate-900 text-white py-4 px-6 border-r border-0 border-solid border-emerald-200 from-emerald-200 to-emerald-50">
    <div class="flex flex-row sm:flex-col gap-x-4 sm:gap-y-4 grow justify-end">
        <p class="hover:bg-slate-400 hover:rounded-lg cursor-pointer p-2">Home</p>
        <p class="hover:bg-slate-400 hover:rounded-lg cursor-pointer p-2">Music</p>
        <p class="hover:bg-slate-400 hover:rounded-lg cursor-pointer p-2">Albums</p>
        <p class="hover:bg-slate-400 hover:rounded-lg cursor-pointer p-2">Artists</p>
    </div>
    <div class="flex flex-col gap-y-4 text-center grow justify-center sm:justify-end">
        <fa-icon class="cursor-pointer text-white hover:text-emerald-300" [icon]="gear"></fa-icon>
    </div>
</div>