/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: text-bottom !important;
}

p, a {
  font-size: 1rem;
  line-height: 1.5rem;
}
