<app-header text="Albums"></app-header>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-center gap-y-6 items-center bg-slate-500 bg-opacity-15 rounded-lg p-4">
    @for (album of albums; track $index) {
        <div class="text-lg text-white flex flex-col items-center">
            <a routerLink="view/{{album.id}}" class="rounded-lg flex flex-col justify-end h-60 w-60 bg-cover cursor-pointer" style="background-image: url('http://localhost:3000/tracks/cover?id={{album.tracks[0].id}}');">
                <div class="bg-gradient-to-b from-transparent to-slate-700 pt-10 pb-1 px-1">
                    <p>{{album.name}}</p>
                </div>
            </a>
            <div>
                <p>Artist Name</p>
            </div>
        </div>
    }
</div>
