<div class="flex flex-wrap gap-8 justify-center sm:justify-around">
    <div class="flex justify-center self-center bg-slate-500 bg-opacity-15 rounded-lg p-4">
        <div class="flex flex-col">
            <div class="flex gap-x-4">
                <div class="bg-slate-300 rounded-lg backdrop-blur-sm w-80 h-80 p-2 flex items-end flex-wrap bg-cover drop-shadow-glow" style="background-image: url('{{bg}}');">
                </div>
                <div class="flex flex-col justify-around text-xl text-white items-center">
                    <fa-icon class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="repeat"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="consume"></fa-icon>
                    <fa-icon class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="info"></fa-icon>
                </div>
            </div>
            <div class="text-center mt-1 text-white">
                <h2 class="text-xl font-semibold max-w-80">{{ title }}</h2>
                <p class="italic max-w-80">{{ artist || 'Unknown Artist' }}</p>
                <hr class="my-2">
                <div class="flex justify-around text-xl gap-x-4">
                    <fa-icon (click)="onPreviousTrack()" class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="back"></fa-icon>
                    <fa-icon (click)="onPlayerToggle()" class="cursor-pointer hover:text-yellow-300" pull="left" [icon]="playerIcon"></fa-icon>
                    <fa-icon (click)="onNextTrack()" class="cursor-pointer hover:text-emerald-300" pull="left" [icon]="forward"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:basis-1/2 bg-slate-500 bg-opacity-15 rounded-lg p-4 max-lg:grow">
        <div class="text-center text-white">
            <h2 class="font-semibold text-xl">Some Playlist / My Tracks</h2>
            <p class="text-lg">{{trackProgress}}</p>
        </div>
        <div class="mt-4 p-4 flex flex-col gap-y-4 ">

        @for (track of tracks; track track.id; let idx = $index) {
            @if (idx < 6) {
                <app-track (onPlay)="playTrack(idx)" (onRemove)="removeTrack(idx)" [track]="track"></app-track>
            }
        }
        </div>
    </div>
</div>

<div class="bg-slate-700 bg-opacity-50 rounded-md mt-8 p-4 flex flex-col gap-y-4 ">
    <div class="text-center text-white">
        <h2 class="font-semibold text-xl">Queued Tracks</h2>
    </div>
    @for (track of tracks; track track.id; let idx = $index) {
        @if (idx >= 6) {
            <app-track (onPlay)="playTrack(idx)" [track]="track"></app-track>
        }
    }
</div>
