<div class="flex flex-wrap gap-8 bg-slate-500 bg-opacity-15 rounded-lg p-4">
  <div class="flex flex-col mr-auto">
    <div class="flex gap-x-4">
      <button
        class="bg-slate-300 rounded-lg backdrop-blur-sm w-60 h-60 p-2 flex items-end flex-wrap bg-cover drop-shadow-glow"
        style="background-image: url('{{bg}}');" (click)="showAlbumArt()" aria-label="Show Album Art">
      </button>
    </div>
  </div>
  <div class="grow flex flex-col text-white">
    <app-header [text]="title"></app-header>
    <p class="italic max-w-80">{{ artist || 'Unknown Artist' }}</p>
    <div class="text-center text-white mt-auto">
      <hr class="my-2">
      <div class="flex justify-around text-xl gap-x-4">
        <button (click)="clearTracks()" class="rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15"
          title="Clear Tracks">
          <app-icon rotate="90" [icon]="clear"></app-icon>
        </button>
        <button class="rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15" title="Repeat">
          <app-icon rotate="90" [icon]="repeat"></app-icon>
        </button>
        <button (click)="shuffleTracks()" title="Shuffle"
          class="rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15">
          <app-icon pull="left" [icon]="shuffle"></app-icon>
        </button>
        <button (click)="toggleConsume()" title="Consume"
          class="rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15">
          <app-icon [active]="consumeState" pull="left" [icon]="consume"></app-icon>
        </button>
        <button title="Info" class="rounded-full px-2 py-1 hover:bg-emerald-300 hover:bg-opacity-15">
          <app-icon [icon]="info"></app-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bg-slate-700 bg-opacity-50 rounded-md mt-8 p-4 flex flex-col gap-y-4" *ngIf="tracks.length > 0">
  @for (track of tracks; track $index; let idx = $index) {
  <app-track (onPlay)="playTrack(idx)" (onRemove)="removeTrack(idx)" (onPlaylistAdd)="addToPlaylist($event)"
    [track]="track"></app-track>
  }
</div>
