<app-header text="Settings"></app-header>

<div class="bg-slate-500 bg-opacity-15 rounded-lg p-4 text-white">
  <div>
    <app-header [type]="2" text="Server URL"></app-header>
    <p class="my-2">Enter the server URL. This must include the machine (URL) and port number. The default value is
      http://localhost:3000.</p>
    <form #form="ngForm" (ngSubmit)="saveURL()" class="ml-2">
      <label for="name" class="text-white font-semibold">URL: </label>
      <input [(ngModel)]="url" required minlength="1" id="name" name="name"
        class="text-emerald-300 m-2 p-2 rounded-md bg-opacity-15 focus:bg-opacity-30 bg-white"
        placeholder="http://localhost:3000"> <br>

      <app-button type="submit" text="Save" [disabled]="!form.form.valid || false"></app-button>
    </form>
  </div>

  <div class="mt-4">
    <app-header [type]="2" text="Scan Tracks"></app-header>
    <p class="my-2 ml-2">You can start a track scan from the web GUI. This will scan the below directories as listed in
      your config.json file.</p>
    <ul class="mb-2 ml-4 list-disc list-inside">
      @for (dir of directories(); track $index) {
      <li class="my-1">{{dir}}</li>
      }
    </ul>
    <div class="mt-2">
      <app-button text="Start Scan" [disabled]="scanInProgress() || waitingForScanConfirmation()"
        (click)="scan()"></app-button>

      @if (waitingForScanConfirmation()) {
      <p class="animate-pulse font-semibold text-xl">Waiting for scan scart confirmation...</p>
      }

      @if (scanInProgress()) {
      <p class="animate-pulse font-semibold text-xl">Scan in progress. This may take some time. Please do not leave this
        page...</p>
      }

      @if (scanFailMessage()) {
      <p class="my-4 font-semibold text-xl text-red-500">{{scanFailMessage()}}</p>
      }

      @if (scanComplete()) {
      <p class="my-4 font-semibold text-xl text-green-500">Scan Complete! You can safely leave this page.</p>
      }
    </div>
  </div>
  <div class=mt-4>
    <app-header [type]="2" text="Preferences"></app-header>

    <p class="my-2 ml-2">Background Images</p>
    <p class="my-2 ml-2">
      When a track or album is playing, Osse will dispay the cover art in the background.
      This may cause contrast issues with certain covers. This can be disabled if you so choose.</p>

    <form #showBackgroundsForm="ngForm" (ngSubmit)="saveBackgroundCoverPreference()" class="ml-2 flex flex-col gap-y-2">
      <label class="inline-flex items-center space-x-2">
        <span>Show Background Covers: </span>
        <input type="checkbox" name="show-background-covers" id="show-background-covers" [checked]="showBackgrounds()"
          (input)="showBackgrounds.set(!showBackgrounds())"
          class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring focus:ring-blue-200 focus:ring-opacity-50">
      </label> <br>

      <app-button type="submit" text="Save" [disabled]="!showBackgroundsForm.form.valid || false"></app-button>
    </form>
  </div>

</div>
